# 2022/01/06/THU

`-` 예제1: 한줄 띄우기

In [4]:
'나는\n곽도성'

'나는\n곽도성'

In [5]:
print('나는\n최규빈')

나는
최규빈

`–` 예제2: 탭

In [6]:
print('나는\t곽도성')

나는	곽도성

`-` 예제3: 이스케이프

`나는\n최규빈` 자체를 출력하고 싶다

In [8]:
print('나는\\n최규빈')

나는\n최규빈

In [10]:
print('\\')

\

In [11]:
print('나는\'최규빈\'')

나는'최규빈'

In [12]:
print("나는'최규빈'")

나는'최규빈'

> #### ***`문자열 메소드`***

`-` 예제1

In [13]:
S = 'spammy'
S.replace('mm','xx')

'spaxxy'

`–` 예제2

In [14]:
S = 'xxxxSPAMxxxxSPAMxxxx'

In [15]:
S.replace('SPAM','EGGS')

'xxxxEGGSxxxxEGGSxxxx'

In [16]:
S.replace('SPAM','EGGS',1)
# 1번만 바꿔라

'xxxxEGGSxxxxSPAMxxxx'

`–` 예제1

In [17]:
S = 'xxxxSPAMxxxxSPAMxxxx'

In [28]:
where=S.find('A')

In [29]:
where

6

In [30]:
a=S.find('SPAM')

SPAM자체를 찾진 않음

In [32]:
a

4

In [36]:
S[a]

'S'

In [38]:
S[:a]+'EGGS'+S[(where+4):]

'xxxxEGGSxxSPAMxxxx'

`–` 예제1

In [58]:
S='spammy'

In [59]:
S[3:5]

'mm'

In [60]:
# S[3:5]='xx'

- mm을 xx로 바꾸고 싶은데 `문자열`은 `불변리스트`라서 바꿀 수 없다.

- then 문자열을 잠시 가변객체인 리스트로 바꾼뒤 리스트에서 자유롭게 편집하고 그 다음에 다시 문자열로 만들자.

In [61]:
L=list(S)

In [62]:
L

['s', 'p', 'a', 'm', 'm', 'y']

In [63]:
L[3:5]

['m', 'm']

In [64]:
L[3:5]=['x','x']

In [65]:
L

['s', 'p', 'a', 'x', 'x', 'y']

---

In [66]:
'-'.join(['a','b','c'])

'a-b-c'

---

In [67]:
S=''.join(L)

In [68]:
S

'spaxxy'

`–` 예제1

In [69]:
s='bob,hacker,40'

In [70]:
s

'bob,hacker,40'

In [72]:
a=s.split(',')
a

['bob', 'hacker', '40']

In [73]:
type(a)

list

list형태임

`–` 예제2

In [74]:
s= 'aaa bbb ccc'

구분되어 있는 게 스페이스이기 때문에

스페이스 기준으로 나눠서 원소만들고 list안에 넣어준다 = split

In [75]:
s.split(' ')

['aaa', 'bbb', 'ccc']

In [77]:
# 이렇게 해도 되고
s.split()

['aaa', 'bbb', 'ccc']

s: 스트링

(스트링을 받아서 넣어줌)

In [94]:
'age: %s' % '35'

'age: 35'

In [95]:
'age: %s' % 'e'

'age: e'

In [96]:
'age: %a' % 'e'

"age: 'e'"

d: 정수

In [97]:
'age: %d' % 39.254

'age: 39'

f: 플롯

In [98]:
'age: %f' % 39

'age: 39.000000'

`-` 예제2

In [102]:
'addr: %s to %s' % ('seoul','jeonju')

'addr: seoul to jeonju'

꼭 tuple(괄호가 포함된 상태)로 묶어주어야 함

----
이렇게 사용하면 안 됨
```python
'addr: %s to %s' % ['seoul','jeonju']
```

```python
'addr: %s to %s' % 'seoul','jeonju'
```
---

In [104]:
s = 'addr: %s to %s' 
s % ('seoul','jeonju')

'addr: seoul to jeonju'

#### 딕셔너리 기반 포매팅

`-` 예제1

In [105]:
'여기 %(food1)s 1개, %(food2)s 1개 주문이요' % {'food1':'짜장면','food2':'짬뽕'}

'여기 짜장면 1개, 짬뽕 1개 주문이요'

In [106]:
'여기 %(food1)s 1개, %(food2)s 1개 주문이요, 아.. 아니다. %(food1)s은 취소하고 그냥 %(food2)s 두개 주세요' % {'food1':'짜장면','food2':'짬뽕'}

'여기 짜장면 1개, 짬뽕 1개 주문이요, 아.. 아니다. 짜장면은 취소하고 그냥 짬뽕 두개 주세요'

`-` 예제2

In [113]:
mail='%(studentname)s 학생 안녕하세요\n저는 통계학과 xxx 교수 입니다.\n전공설계과목 지침에 따라 %(studentname)s학생과 2회 상담을 실시해야 합니다.\n저는 %(day)s에 시간이 괜찮은데 %(studentname)s 학생도 그날 시간이 괜찮을까요?\n'

In [115]:
print(mail % {'studentname':'곽도성', 'day':'5월31일'})

곽도성 학생 안녕하세요
저는 통계학과 xxx 교수 입니다.
전공설계과목 지침에 따라 곽도성학생과 2회 상담을 실시해야 합니다.
저는 5월31일에 시간이 괜찮은데 곽도성 학생도 그날 시간이 괜찮을까요?

`-` 예제3

In [137]:
import pandas as pd
df=pd.DataFrame({'studentname':['As','Bs'],'day':['5월31일','6월3일']})
df

  studentname    day
0          As  5월31일
1          Bs   6월3일

In [138]:
df.loc[:,['day']]

     day
0  5월31일
1   6월3일

In [139]:
df.iloc[[0]]

  studentname    day
0          As  5월31일

In [140]:
dict(df.iloc[1])

{'studentname': 'Bs', 'day': '6월3일'}

In [141]:
dict(df.iloc[[1]])

{'studentname': 1    Bs
 Name: studentname, dtype: object,
 'day': 1    6월3일
 Name: day, dtype: object}

In [142]:
for i in [0,1]:
    print(mail % dict(df.iloc[i]))

As 학생 안녕하세요
저는 통계학과 xxx 교수 입니다.
전공설계과목 지침에 따라 As학생과 2회 상담을 실시해야 합니다.
저는 5월31일에 시간이 괜찮은데 As 학생도 그날 시간이 괜찮을까요?

Bs 학생 안녕하세요
저는 통계학과 xxx 교수 입니다.
전공설계과목 지침에 따라 Bs학생과 2회 상담을 실시해야 합니다.
저는 6월3일에 시간이 괜찮은데 Bs 학생도 그날 시간이 괜찮을까요?

#### 메서드

In [143]:
mail='{studentname} 학생 안녕하세요\n저는 통계학과 최규빈 교수 입니다.\n전공설계과목 지침에 따라 {studentname}학생과 2회 상담을 실시해야 합니다.\n저는 {day}에 시간이 괜찮은데 {studentname} 학생도 그날 시간이 괜찮을까요?\n'

In [144]:
mail.format(studentname='박혜원',day='6월2일')

'박혜원 학생 안녕하세요\n저는 통계학과 최규빈 교수 입니다.\n전공설계과목 지침에 따라 박혜원학생과 2회 상담을 실시해야 합니다.\n저는 6월2일에 시간이 괜찮은데 박혜원 학생도 그날 시간이 괜찮을까요?\n'

In [145]:
print(mail.format(studentname='박혜원',day='6월2일'))

박혜원 학생 안녕하세요
저는 통계학과 최규빈 교수 입니다.
전공설계과목 지침에 따라 박혜원학생과 2회 상담을 실시해야 합니다.
저는 6월2일에 시간이 괜찮은데 박혜원 학생도 그날 시간이 괜찮을까요?

`–` 예제2

In [148]:
'이름:{},나이:{},성별:{}'.format('곽도성','23','남')

'이름:곽도성,나이:23,성별:남'

In [151]:
df=pd.DataFrame({'a':[1,2,3],'b':[1,2,3]})

In [152]:
df

   a  b
0  1  1
1  2  2
2  3  3

In [154]:
df.a

0    1
1    2
2    3
Name: a, dtype: int64

In [156]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [157]:
df[['a']]

   a
0  1
1  2
2  3

In [159]:
df.iloc[0]

a    1
b    1
Name: 0, dtype: int64

In [160]:
df.loc[2]

a    3
b    3
Name: 2, dtype: int64

In [162]:
df.iloc[:,0]

0    1
1    2
2    3
Name: a, dtype: int64

In [164]:
df.iloc[:,1]

0    1
1    2
2    3
Name: b, dtype: int64